<!doctype html>
<head>
        <meta charset="UTF-8">
        <title>Elvia's Cinema</title>
        <link rel="stylesheet" href="stylesheets/mainstyle.css" type="text/css">
</head>
<div class = "nav">
    <ul>
        <li><a href = "/tobuywelcome" class = "buy"> Buy A ticket </a></li>
        <li><a href = "/tocomment" class = "buttontop"> Movie Review </a></li>
        <li><a href = "/tohistory" class = "buttontop"> Purchase History </a></li>
        <li><a href = "/logout" class = "buttontop"> Logout </a></li>
    </ul>
</div>
<p> Enjoy the film in our best cinema and meet your love here. </p>

